<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apelious.usercenter.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.apelious.usercenter.domain.Users">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userGender" column="user_gender" jdbcType="INTEGER"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="userIntroduction" column="user_introduction" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_account,user_name,
        user_password,user_gender,phone_number,
        email,birthday,user_introduction,
        location,avatar,create_time,
        is_delete
    </sql>
</mapper>
